## KGFarm's feature transformation

In [1]:
import sys
import pandas as pd
sys.path.append('../../')

from operations.api import KGFarm
kgfarm = KGFarm()

Connected to Stardog!
Access the Stardog UI at: https://cloud.stardog.com/

KGFarm exploits the abstracted link between the KGLiDS graph and Farm graph
   * <code> kgfarm.recommend_feature_transformations</code> returns all possible set of feature transformations that exists in the database.
   * <b> You can pass your existing <code>entity_df</code> to <code>kgfarm.recommend_feature_transformations(entity:pd.Dataframe)</code> to look for possible feature transformations for that very entity dataframe.

In [2]:
transformation_info = kgfarm.recommend_feature_transformations()
transformation_info

,Transformation,Package,Function,Library,Feature,Feature_view,Table,Dataset,Author,Written_on,Pipeline,Pipeline_url
0,LabelEncoder,preprocessing,LabelEncoder.fit_transform( ),sklearn,"[Tenure, IsActiveMember, NumOfProducts, HasCrCard, Gender, Geography]",Feature_view_10,Churn_Modelling.csv,bank-customer-churn-modeling,Ryan M Cummings,2020-07-19 18:47:46,Customer Churn Rate - Machine Learning Models,https://www.kaggle.com/ryanmcummings/customer-churn-rate-machine-learning-models
1,MinMaxScaler,preprocessing,MinMaxScaler.fit_transform( ),sklearn,[CreditScore],Feature_view_10,Churn_Modelling.csv,bank-customer-churn-modeling,Karthik Stock,2021-09-07 11:03:28,customer exited or not prediction,https://www.kaggle.com/karthikstock/customer-exited-or-not-prediction
2,MinMaxScaler,preprocessing,MinMaxScaler.fit_transform( ),sklearn,[CreditScore],Feature_view_10,Churn_Modelling.csv,bank-customer-churn-modeling,Namanjeet Singh,2021-03-11 13:06:33,NeuralNetworks with Regularization and Sampling,https://www.kaggle.com/namanjeetsingh/neuralnetworks-with-regularization-and-sampling
3,StandardScaler,preprocessing,StandardScaler.fit_transform( ),sklearn,[CreditScore],Feature_view_10,Churn_Modelling.csv,bank-customer-churn-modeling,Ryan M Cummings,2020-07-19 18:47:46,Customer Churn Rate - Machine Learning Models,https://www.kaggle.com/ryanmcummings/customer-churn-rate-machine-learning-models
4,StandardScaler,preprocessing,StandardScaler.fit_transform( ),sklearn,"[Balance, Tenure, EstimatedSalary]",Feature_view_10,Churn_Modelling.csv,bank-customer-churn-modeling,fei yutong,2021-10-28 22:31:54,Bank customer churn modeling,https://www.kaggle.com/feiyutong/bank-customer-churn-modeling
5,LabelEncoder,preprocessing,LabelEncoder.fit_transform( ),sklearn,"[month, job, contact, education, marital, poutcome, loan]",Feature_view_06,bank.csv,bank-marketing-dataset,Nishigandha.Zanje,2022-01-02 10:33:50,SL_BankMarketing_TermDeposit_Classification,https://www.kaggle.com/nishigandhazanje/sl-bankmarketing-termdeposit-classification
6,LabelEncoder,preprocessing,LabelEncoder.fit_transform( ),sklearn,"[Geography, Gender]",Feature_view_09,churn.csv,churn-for-bank-customers,AYAHM BARISH,2021-11-17 17:05:01,CatBoost Classifier ve DecisionTreeClassifier,https://www.kaggle.com/ayhampar/catboost-classifier-ve-decisiontreeclassifier

In [3]:
option = 0 # row in transformation_info
entity_df = kgfarm.load_table(transformation_info.iloc[option])
entity_df

Churn_Modelling.csv

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,event_timestamp
0,3026,15745232,Chikelu,759,France,Female,39,6,0.00,2,1,1,140497.67,0,2022-07-25 00:00:03.619623
1,2356,15710366,Hamilton,569,Spain,Female,42,1,0.00,1,1,1,83629.60,1,2022-07-25 00:01:45.619623
2,6895,15707441,White,690,Spain,Male,26,8,116318.23,1,1,1,83253.05,0,2022-07-25 00:04:53.619623
3,1804,15707078,Kruglov,577,France,Female,26,1,180530.51,1,0,0,123454.62,0,2022-07-25 00:05:44.619623
4,4192,15715597,Onyemauchechi,679,France,Male,36,1,97234.58,1,1,0,188997.08,0,2022-07-25 00:05:48.619623
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,5207,15632826,Tardent,493,France,Male,38,3,134006.77,1,1,0,89578.32,0,2022-08-03 23:51:49.619623
9996,938,15662100,Hsu,850,Germany,Female,44,5,128605.32,1,0,1,171096.20,0,2022-08-03 23:52:30.619623
9997,2671,15760446,Pagnotto,598,France,Female,64,9,0.00,1,0,1,13181.37,1,2022-08-03 23:54:19.619623
9998,5516,15742534,Faulk,527,Germany,Female,28,2,123802.98,2,1,1,155846.69,0,2022-08-03 23:54:34.619623
9999,8866,15639004,Chiemezie,668,France,Male,72,2,0.00,2,1,1,70783.61,0,2022-08-03 23:55:46.619623

In [4]:
kgfarm.apply_transformation(transformation_info.iloc[option])

Applying LabelEncoder transformation

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 6/6 [00:00<00:00, 497.31it/s]

6 feature(s) ['Tenure', 'IsActiveMember', 'NumOfProducts', 'HasCrCard', 'Gender', 'Geography'] transformed successfully!

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,event_timestamp
0,3026,15745232,Chikelu,759,0,0,39,6,0.00,1,1,1,140497.67,0,2022-07-25 00:00:03.619623
1,2356,15710366,Hamilton,569,2,0,42,1,0.00,0,1,1,83629.60,1,2022-07-25 00:01:45.619623
2,6895,15707441,White,690,2,1,26,8,116318.23,0,1,1,83253.05,0,2022-07-25 00:04:53.619623
3,1804,15707078,Kruglov,577,0,0,26,1,180530.51,0,0,0,123454.62,0,2022-07-25 00:05:44.619623
4,4192,15715597,Onyemauchechi,679,0,1,36,1,97234.58,0,1,0,188997.08,0,2022-07-25 00:05:48.619623
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,5207,15632826,Tardent,493,0,1,38,3,134006.77,0,1,0,89578.32,0,2022-08-03 23:51:49.619623
9996,938,15662100,Hsu,850,1,0,44,5,128605.32,0,0,1,171096.20,0,2022-08-03 23:52:30.619623
9997,2671,15760446,Pagnotto,598,0,0,64,9,0.00,0,0,1,13181.37,1,2022-08-03 23:54:19.619623
9998,5516,15742534,Faulk,527,1,0,28,2,123802.98,1,1,1,155846.69,0,2022-08-03 23:54:34.619623
9999,8866,15639004,Chiemezie,668,0,1,72,2,0.00,1,1,1,70783.61,0,2022-08-03 23:55:46.619623