In [22]:
import pandas as pd
import sys
sys.path.append('../../')

from operations.api import KGFarm
kgfarm = KGFarm(database='test')

Connected to Stardog!
Access the Stardog UI at: https://cloud.stardog.com/

In [23]:
enrichment_info = kgfarm.get_enrichable_tables()
enrichment_info

100%|██████████| 7/7 [00:00<00:00, 50.57it/s]

,Table,Enrich_with,Joinability_strength,Join_key,Physical_joinable_table,Table_path,File_source,Dataset,Dataset_feature_view
0,fertility_rate.csv,Feature_view_05,100%,Country Name,API_ILO_country_YU.csv,/Users/shubhamvashisth/Documents/data/data_lake/world-bank-data-1960-to-2016/data/fertility_rate.csv,/Users/shubhamvashisth/Documents/data/data_lake/world-bank-youth-unemployment/data/API_ILO_country_YU.csv,world-bank-data-1960-to-2016,world-bank-youth-unemployment
1,bank_stats.csv,Feature_view_13,100%,customer_id,bank.csv,/Users/shubhamvashisth/Documents/data/data_lake/bank-marketing-dataset/data/bank_stats.csv,/Users/shubhamvashisth/Documents/data/data_lake/bank-marketing-dataset/data/bank.csv,bank-marketing-dataset,bank-marketing-dataset
2,API_ILO_country_YU.csv,Feature_view_01,100%,Country Name,fertility_rate.csv,/Users/shubhamvashisth/Documents/data/data_lake/world-bank-youth-unemployment/data/API_ILO_country_YU.csv,/Users/shubhamvashisth/Documents/data/data_lake/world-bank-data-1960-to-2016/data/fertility_rate.csv,world-bank-youth-unemployment,world-bank-data-1960-to-2016

In [24]:
entity_df = pd.read_csv(enrichment_info.iloc[1].Table_path)
print('entity dataframe: ', enrichment_info.iloc[1].Table)
entity_df

entity dataframe:  bank_stats.csv

,customer_id,age,balance,day,duration,campaign,pdays,previous,deposit,event_timestamp
0,C_07196,31,0,30,745,12,-1,0,yes,2022-07-22 00:03:20.612404
1,C_07460,46,-563,15,769,4,-1,0,yes,2022-07-22 00:03:24.612404
2,C_10590,30,1165,4,204,2,183,3,yes,2022-07-22 00:04:09.612404
3,C_09086,35,719,18,1359,3,368,3,yes,2022-07-22 00:04:15.612404
4,C_18071,25,50,5,342,1,-1,0,no,2022-07-22 00:06:27.612404
...,...,...,...,...,...,...,...,...,...,...
12157,C_17341,30,285,5,693,2,-1,0,no,2022-08-01 23:58:37.612404
12158,C_15214,46,2499,16,42,3,-1,0,no,2022-08-01 23:58:44.612404
12159,C_10702,31,2907,12,248,1,194,3,yes,2022-08-01 23:59:09.612404
12160,C_12027,26,-11,17,1150,3,-1,0,yes,2022-08-01 23:59:15.612404
12161,C_10395,33,562,6,196,1,363,1,yes,2022-08-01 23:59:22.612404

In [25]:
feature_view = pd.read_csv(enrichment_info.iloc[1].File_source)
print('Feature view: {} ({})'.format(enrichment_info.iloc[1].Enrich_with, 
                                     enrichment_info.iloc[1].Physical_joinable_table))
feature_view

Feature view: Feature_view_13 (bank.csv)

,customer_id,job,marital,education,default,housing,loan,contact,month,poutcome,event_timestamp
0,C_12401,management,married,tertiary,no,0,no,cellular,aug,unknown,2022-07-22 00:00:22.445240
1,C_14806,blue-collar,divorced,secondary,no,1,no,unknown,may,unknown,2022-07-22 00:03:09.445240
2,C_13651,retired,married,primary,no,0,yes,cellular,jul,unknown,2022-07-22 00:05:43.445240
3,C_14681,blue-collar,divorced,primary,no,1,no,unknown,jun,unknown,2022-07-22 00:06:24.445240
4,C_11426,admin.,single,secondary,no,1,no,cellular,jun,success,2022-07-22 00:06:32.445240
...,...,...,...,...,...,...,...,...,...,...,...
11157,C_14804,blue-collar,married,primary,no,1,no,unknown,may,unknown,2022-08-01 23:56:58.445240
11158,C_15429,management,single,tertiary,no,0,no,cellular,aug,unknown,2022-08-01 23:57:29.445240
11159,C_17372,management,married,tertiary,yes,0,yes,cellular,jul,unknown,2022-08-01 23:57:57.445240
11160,C_08463,admin.,single,secondary,no,1,no,cellular,apr,failure,2022-08-01 23:58:34.445240
11161,C_16351,technician,married,secondary,no,0,no,telephone,feb,unknown,2022-08-01 23:59:13.445240

In [26]:
kgfarm.enrich(enrichment_info.iloc[1], ttl=5)

Enriching bank_stats.csv with 9 feature(s) ['education', 'job', 'marital', 'contact', 'loan', 'month', 'poutcome', 'default', 'housing']

100%|██████████| 11162/11162 [00:12<00:00, 896.37it/s]

,event_timestamp,customer_id,age,balance,day,duration,campaign,pdays,previous,deposit,education,job,marital,contact,loan,month,poutcome,default,housing
0,2022-07-24 14:13:00.612404,C_07000,59,2343,5,1042,1,-1,0,yes,secondary,admin.,married,unknown,no,may,unknown,no,1
1,2022-08-01 07:33:04.612404,C_07001,56,45,5,1467,1,-1,0,yes,secondary,admin.,married,unknown,no,may,unknown,no,0
2,2022-07-30 20:38:18.612404,C_07003,55,2476,5,579,1,-1,0,yes,secondary,services,married,unknown,no,may,unknown,no,1
3,2022-07-26 14:40:21.612404,C_07010,38,100,7,786,1,-1,0,yes,secondary,admin.,single,unknown,no,may,unknown,no,1
4,2022-07-30 15:29:44.612404,C_07013,46,460,7,1102,2,-1,0,yes,tertiary,blue-collar,single,unknown,no,may,unknown,no,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3888,2022-07-26 21:02:07.612404,C_18153,43,35,9,208,1,-1,0,no,secondary,admin.,single,telephone,no,nov,unknown,no,0
3889,2022-07-30 16:56:33.612404,C_18155,35,80,21,38,2,172,2,no,secondary,blue-collar,married,cellular,yes,nov,failure,no,1
3890,2022-07-31 01:55:06.612404,C_18157,33,1,20,257,1,-1,0,no,primary,blue-collar,single,cellular,no,apr,unknown,no,1
3891,2022-07-25 10:38:12.612404,C_18159,32,29,19,156,2,-1,0,no,secondary,technician,single,cellular,no,aug,unknown,no,0
3892,2022-07-25 06:57:28.612404,C_18160,43,0,8,9,2,172,5,no,secondary,technician,married,cellular,yes,may,failure,no,0